@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blinking{
  0% {opacity: 1;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

@media (max-width: 768px) {
  body {
    background-color: beige;
  }
}
html,body {
  background: black;
  color: white;
  font-family: 'Lucida', monospace;
  animation: fadeIn 0.5s ease-in;
  overflow: hidden;
  height:  100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
}

.name {
  margin-right: 3px;
  display: flex;
  align-items: center;
}

.blinking{
  display:inline-block;
  width: 4px;
  height: 16px;
  background-color: white;
  margin-right: 10px;
  animation: blinking 1s infinite;
}

.separator-line {
  width: 2px;
  height: 100px;
  background-color: white;
}

.my-links {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.my-links a{
  color:white;
  text-decoration: none;
  margin: 5px 0;
}

.my-links a:hover{
  text-decoration: underline;
}