@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  body {
    background-color: black;
  }
}
html,body {
  height: 100%;
  /*background-color: #043E42;*/
  background-image: linear-gradient(to right bottom, #043e42, #065056, #08646a, #0b7880, #0d8c96);
  color: white;
  font-family: 'Lucida', monospace;
  text-align: center;
  animation: fadeIn 0.5s ease-in;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.container {
  position: absolute;
  text-align: left;
  top:25%;
  left:5%;
}

header {
  margin-bottom: 25px;
}

h1 {
  font-size: 3rem;
  color: #e6e6e6;
}

.highlight {
  color: #06565c;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  margin: 0 10px;
  color: #e6e6e6;
  font-size: 1.5rem;
  text-decoration: none;
}

.social-icons a:hover {
  color: #086f79;
}

.projects h2 {
  font-size: 2rem;
  color: #0a8992;
  margin-bottom: 20px;
}

.project-item {
  margin-bottom: 20px;
  margin-left: 5px;
}

.project-item button {
  background-color: #076B72;
  color: white;
  border: none;
  border-radius: 30px;
  height: 45px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 5px;
}

.project-item button:hover {
  background-color: #086f79;
}

.project-item p {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 5px;
}

